.container {
    text-align: center;
    padding: 9rem;
}

.container img {
    width: 100px; /* Adjust to desired size */
    height: 100px; /* Adjust to desired size */
}

.container h1 {
    font-size: 3.125rem;
    color: #333;
    margin-top: 0.5rem; /* Adjust to reduce space between logo and text */
}

p {
    font-size: 1.25rem;
    color: #666;
}

a.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #6660e0;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.125rem;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #4e4ab5;
}
