.container {
    text-align: center;
    padding: 150px;
}

h1 {
    font-size: 50px;
    color: #333;
}

p {
    font-size: 20px;
    color: #666;
}

a {
    color: #6660e0;
    text-decoration: none;
}
