@import url('fontawesome-all.min.css');


/* Responsive Design - Media Queries */

/* MOBILE */
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
    /* CONSTRUCTION PAGE  - Maintenance*/
    #construction {
        margin: auto;
        width: 80%;
    }

    #construction h1 {
        text-align: center;
    }

    #namelogo {
        margin: auto;
        width: 100%;
    }


/* TABLET */
@media screen and (min-width:481px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
    /* CONSTRUCTION PAGE  - Maintenance*/

}


/* LAPTOPS - SMALL SCREENS */
@media screen and (min-width:769px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
    /* CONSTRUCTION PAGE  - Maintenance*/

}


/* DESKTOPS - LARGE SCREENS */
@media screen and (min-width:1025px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
    /* CONSTRUCTION PAGE  - Maintenance*/

}


/* EXTRA LARGE SCREENS - 4K */
@media screen and (min-width:1201px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
    /* CONSTRUCTION PAGE  - Maintenance*/

}
