@import url('fontawesome-all.min.css');


a {
    display: block;
}

/* Label */
.label {
    display: none;
}

/* vvv PAGE DESIGN vvv */

body {
    background: radial-gradient(circle, rgba(102,96,224,1) 50%, rgba(137,96,224,1) 100%);
}


/* Responsive Design - Media Queries */

/* MOBILE */
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */


        /* CONSTRUCTION PAGE  - Maintenance*/
        #construction {
            margin: auto;
            width: 80%;
            background-color: #000e0e1a;
            border: dashed;
            border-color: #fff0e0;
            padding: 5%;
        }

        #construction h1, #construction p {
            text-align: center;
            color: #fff0e0;
        }

        #namelogo {
            margin: auto;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .buttonlinks .btn1 {
            text-decoration: none;
            margin: 15px auto;
            width: 75%;
            background-color: #6660e0;
            color: #fff0e0;
            text-align: center;
            border-radius: 20px;
            padding: 10px;
        }

            .buttonlinks .btn1:hover {
                cursor: pointer;
                background-color: #fff0e0;
                color: #6660e0;
                transition: 0.5s;
            }

/* TABLET */
@media screen and (min-width:481px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
        /* CONSTRUCTION PAGE  - Maintenance*/

}


/* LAPTOPS - SMALL SCREENS */
@media screen and (min-width:769px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
        /* CONSTRUCTION PAGE  - Maintenance*/

}


/* DESKTOPS - LARGE SCREENS */
@media screen and (min-width:1025px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
        /* CONSTRUCTION PAGE  - Maintenance*/

}


/* EXTRA LARGE SCREENS - 4K */
@media screen and (min-width:1201px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
        /* CONSTRUCTION PAGE  - Maintenance*/

}
