@import url('fontawesome-all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


a {
    display: block;
}

    .dancingscript {
        font-family: 'Dancing Script', cursive;
        font-size: 1em;
    }

    .label {
        display: none;
    }

/* vvv DESIGN vvv */

body {
    background: radial-gradient(circle, rgba(102,96,224,1) 50%, rgba(137,96,224,1) 100%);
}

    .buttonlinks a {
        text-decoration: none;
        text-align: center;
        background-color: #6660e0;
        color: #fff0e0;
        padding: 10px;
        border-radius: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-style: solid;
    }

        .buttonlinks a:hover {
            cursor: pointer;
            background-color: #fff0e0;
            color: #6660e0;
            transition: 0.5s;
        }

/* Responsive Design - Media Queries */

/* MOBILE */
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */


        /* CONSTRUCTION PAGE  - Maintenance*/
        #construction {
            margin: auto;
            width: 80%;
            background-color: #000e0e1a;
            border: dashed;
            border-color: #fff0e0;
            padding: 5%;
        }

            #construction h1, #construction p {
                text-align: center;
                color: #fff0e0;
            }

                #construction .dancingscript {
                    font-size: 2em;
                }

                #construction hr {
                    border-top: 1px solid;
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    border-color: #fff0e077;
                }

            #namelogo {
                margin: auto;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .buttonlinks {
                margin: 0 auto;
                width: 100%;
            }
            
                .buttonlinks .btn1 {
                    margin: 15px auto;
                    width: 75%;
                }

/* TABLET */
@media screen and (min-width:481px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
        /* CONSTRUCTION PAGE  - Maintenance*/

}


/* LAPTOPS - SMALL SCREENS */
@media screen and (min-width:769px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
        /* CONSTRUCTION PAGE  - Maintenance*/

}


/* DESKTOPS - LARGE SCREENS */
@media screen and (min-width:1025px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
        /* CONSTRUCTION PAGE  - Maintenance*/

}


/* EXTRA LARGE SCREENS - 4K */
@media screen and (min-width:1201px) {
    /* WELCOME - Landing Page */
    /* HOME - Main Directory */
    /* ABOUT - Picture & Summary */
    /* PROJECTS - Showcase */
    /* CONTACT - Form */
        /* CONSTRUCTION PAGE  - Maintenance*/

}
